*,*::before,*::after
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

.wrapper
{
    height: 100vh;
    width: 100vw;
    /* background-image: url('./assets/gradient-bg.jpg'); */
    /* background-image:url('assets/vivid-blurred-colorful-background_58702-2655.avif'); */
    background-image:url('assets/bright-colors-mixing-gently.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
}

.gameInfo
{
    position: absolute;
    top: 3rem;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    background-color:  rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 0.5rem 3rem;
}

.tic-tac-toe
{
    width: 90%;
    max-width: 20rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    background-color:  rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    aspect-ratio: 1/1;
}
.box
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    cursor:pointer;
    aspect-ratio: 1/1;
}

.box1,.box2,.box4,.box5
{
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.box7,.box8
{
    border-right: 2px solid white;
}

.box3,.box6
{
    border-bottom: 2px solid white;
}

.btn
{
    position: absolute;
    padding: 0.5rem 2rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3rem;
    border-radius: 1rem;
    background-color:  rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: white;
    cursor: pointer;
    display: none;
}

.btn.active
{
    display: flex;
}

.win
{
    background-color: rgba(0, 255, 0, 0.3);
    /* display: none; */
}
.win.active
{
    display: flex;
}